@media screen and (min-width: 1440px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 32px;
  }

  h5 {
    font-size: 24px;
  }

  .subheading {
    font-size: 22px;
  }

  .txt-l {
    font-size: 20px;
  }

  .txt-m {
    font-size: 18px;
  }

  .txt-s {
    font-size: 16px;
  }

  .txt-xs {
    font-size: 14px;
  }

  button, .button {
    line-height: 150%;
  }

  label {
    font-size: 10px;
  }
}
